@font-face {
    font-family: Ygro Book;
    src: url(/fonts/YgroSansBeta-Book.ttf);
}

@font-face {
    font-family: Ygro Mid;
    src: url(/fonts/YgroSansBeta-Medium.ttf);
}

@font-face {
    font-family: Ygro Bold;
    src: url(/fonts/YgroSansBetaBold.ttf);
}

/* Default Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
}

a:link, a:visited, a:focus {
    color: #f5f5f5;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    position: absolute;
    width: 100%;
    height: 3220px;
    background-color: #090A11;
}

/* Nav bar Styling */

.parent__header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    
    background-image: linear-gradient(to bottom, rgba(9,10,17,1), rgba(9,10,17,0.5));
    z-index: 5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
    z-index: 5;
}

.logo {
    position: relative;
    width: 118px;
    height: 30px;

    font-family: Ygro Bold;
    font-size: 16px;
    line-height: 15px;

    color: #f5f5f5;
    cursor: pointer;
}

.nav__links li {
    display: inline-block;
    padding: 0 35px;
}

.nav__links li a {
    font-family: Ygro Mid;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    opacity: 0.5;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    opacity: 1;
}

.nav__links .active {
    opacity: 0.9;
}

.nav__button {
    position: relative;
    top: 0;
    padding: 9px 25px;
    width: 148px;
    height: 40px;

    font-family: Ygro Mid;
    font-size: 16px;
    color: #f5f5f5;

    border-radius: 38px;
    background: linear-gradient(45deg, #4631C1,#86A8E7);
    overflow: hidden;
}

/* HeroBanner */

.herobanner {
    position: relative;
    margin-top: 120px;
    height: 850px;
    width: 100%;

    z-index: 1;
    overflow-x: hidden;
}

.herobanner > img {
    position: absolute;
    width: 750px;
    top: 10%;
    left: 55vw;
}

.herobanner__text {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 500px;
    text-align: justify;
    height: auto;

    color: #f5f5f5;
}

.herobanner__text > h2 {
    font-family: Ygro Bold;
    font-size: 50px;

    padding-bottom: 10px;
}

.herobanner__text > p {
    font-family: Ygro Book;
    font-size: 20px;
}

/* TypeWriter Effect */

.typed__text {
    font-family: Ygro Bold;

    background: linear-gradient(45deg, #86A8E7,#4631C1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.typewriter__cursor {
    display: inline-block;
    width: 2px;
    background-color: #ccc;
    margin-left: 0.2rem;
    animation: blink 1s infinite;
}

.typewriter__cursor.typing {
    animation: none;
}

/* TypeWriter Effect - Cursor Effect */

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}

/* Click Ripple Effect */

.ripple {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripple 1s linear infinite;
}

@keyframes ripple {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100% {
        width: 400px;
        height: 400px;
        opacity: 0;
    }
}

/* Custom Scroll Bar */

/* Total Width */
body::-webkit-scrollbar {
    width: 12px;
}
/* background of the scrollbar apart from button or resizer */
body::-webkit-scrollbar-track {
    background-color: #090A11;
}
/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #4631C1,#86A8E7);
    border-radius: 12px;
    border: 4px solid #090A11;
}
/* Set top and bottom buttons */
body::-webkit-scrollbar-button {
    display: none;
}


/* Tablet Screen */ 
@media screen and (max-width: 1024px){
    .nav__links li {
        display: none;
    }

    .nav__button {
        overflow: hidden;
    }

    .herobanner {
        width: 100%;
        height: 1250px;
        overflow-x: hidden;
    }

    .herobanner > img {
        position: absolute;
        top: 450px;
        left: 14%;
    }

    .herobanner__text {
        position: absolute;
        top: 150px;
        left: 25vw;
    }

    .herobanner__text > h2 {
        position: relative;
        margin-bottom: 30px;
    }

    .herobanner__text > p {
        font-size: 24px;
    }

}

/* Mobile Screen */ 
@media screen and (max-width: 768px){
    .nav__links li {
        display: none;
    }

    .nav__button {
        overflow: hidden;
    }

    .herobanner {
        width: 100%;
        height: 620px;
    }

    .herobanner > img {
        position: absolute;
        top: 225px;
        left: -3%;
        width: 400px;
    }

    .herobanner__text {
        position: absolute;
        top: 40px;
        left: 10vw;
    }

    .herobanner__text > h2 {
        position: relative;
        font-size: 30px;
    }

    .herobanner__text > p {
        font-size: 16px;
        width: 300px;
    }
}