@font-face {
    font-family: Ygro Book;
    src: url(/fonts/YgroSansBeta-Book.ttf);
}

@font-face {
    font-family: Ygro Mid;
    src: url(/fonts/YgroSansBeta-Medium.ttf);
}

@font-face {
    font-family: Ygro Bold;
    src: url(/fonts/YgroSansBetaBold.ttf);
}

/* Default Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

html, body {
    background-color: #090A11;
    color: #fff;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
}

a:link, a:visited, a:focus {
    color: #f5f5f5;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    position: absolute;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #090A11;
    overflow-x: hidden;
}

/* Nav bar Styling */

.parent__header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    
    background-image: linear-gradient(to bottom, rgba(9,10,17,1), rgba(9,10,17,0.5));
    z-index: 5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 10%;
    z-index: 5;
}

.logo {
    position: relative;
    width: 7.375rem;
    height: 1.875rem;

    font-family: Ygro Bold;
    font-size: 1rem;
    line-height: 0.9375rem;

    color: #f5f5f5;
    cursor: pointer;
}

.nav__links li {
    display: inline-block;
    padding: 0 2.1875rem;
}

.nav__item {
    font-family: Ygro Mid;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.375rem;

    opacity: 0.3;
    transition: all 0.3s ease 0s;
}

.nav__item:hover {
    opacity: 1;
}

.active {
    opacity: 0.8;
}

.nav__button {
    position: relative;
    top: 0;
    padding: 0.5625rem 1.5625rem;
    width: 9.25rem;
    height: 2.5rem;

    font-family: Ygro Mid;
    font-size: 1rem;
    color: #f5f5f5;

    border-radius: 2.375rem;
    background: linear-gradient(45deg, #4631C1,#6B5CC1);
    overflow: hidden;
}

/* HeroBanner */

.herobanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7.5rem;
    padding: 4.375rem 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;

    z-index: 1;
    overflow: hidden;
}

.room {
    padding: 1.25rem 0;
}

.room > img {
    width: 60rem;
}

.herobanner__text {
    position: relative;
    left: 10%;
    width: 31.25rem;
    min-width: 31.25rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    color: #f5f5f5;
}

.herobanner__text > h2 {
    font-family: Ygro Bold;
    font-size: 3.125rem;

    padding-bottom: 0.625rem;
}

.herobanner__text > p {
    font-family: Ygro Book;
    font-size: 1.25rem;
}

/* Experiance */

.experienceandskills {
    position: relative;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.experience__section {
    position: relative;
    padding-top: 7.5rem;
    width: 100%;
    height: 50rem;
}

.tag {
    font-family: Ygro Book;
    font-size: 0.875rem;
    opacity: 0.4;
}

.category__title {
    font-family: Ygro Bold;
    font-size: 3.5rem;
}

.experience__section > h1 {
    text-align: center;
    padding-bottom: 1.875rem;
}

.experience__open {
    margin-left: 10.2vw;
    padding-bottom: 5rem;
}

.experience__close {
    float: right;
    margin-right: 10.2vw;
    padding-top: 5rem;
}

.timeline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin: 4.375rem 0;
}

.experience__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 13.125rem;
    min-width: 13.125rem;
    height: 9.375rem;

    margin: 0 2vw;


    background: #10121D;
    border-radius: 1rem;
    opacity: 0.5;

    transition: all 1s 0.1s ease-in-out;
}

.experience__info > img {
    position: relative;
    left: 1rem;
    top: 1rem;
    width: 1.5625rem;
}

.experience__info > h4 {
    position: relative;
    left: 7.125rem;

    font-family: Ygro Book;
    font-size: 0.75rem;

    opacity: 0.5;
}

.experience__info > h1 {
    position: relative;
    top: 1.25rem;
    left: 1rem;

    font-family: Ygro Mid;
    font-size: 1.125rem;
    line-height: 1.375rem;
}

.experience__info > h2 {
    position: relative;
    top: 1.875rem;
    left: 1rem;

    font-family: Ygro Book;
    font-weight: 300;
    font-size: 1.125rem;

    opacity: 0.5;
}

.timeline__pages {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 17rem;
    display: none;
}

.arrow {
    width: 2rem;
    height: 2rem;
    text-align: center;
    margin: 0.3125rem;

    background: #10121D;
    border-radius: 0.5rem;
    cursor: pointer;
}

.arrow > img {
    padding: 0.5625rem 0.75rem;
    opacity: 0.7;
}

.exp__active {
    opacity: 1;
    transform: scale(1.3);
}

/* Skills */

.skills {
    position: relative;
    top: -3rem;
    overflow-x: hidden;
}

.skills__open {
    margin-left: 10.2vw;
    padding-bottom: 1.875rem;
}

.skills__close {
    float: right;
    padding-top: 1.875rem;
    margin-right: 10.2vw;
}

.skills > h1 {
    text-align: center;
}

.skill__list {
    margin: 60px 0;
}

.toplist {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.toplist h3 {
    position: relative;
    left: 1.25rem;
    padding: 1.875rem 4.375rem;

    font-family: Ygro Book;
    font-size: 1.375rem;
}

.bottomlist {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.bottomlist h3 {
    position: relative;
    padding: 1.875rem 4.375rem;

    font-family: Ygro Book;
    font-size: 1.375rem;
}

/* Projects */

.projects__section {
    position: relative;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow-x: hidden;
    padding-top: 9.375rem;
}

.project__selection {
    display: flex;
    justify-content: center;
}

.projects__open {
    position: relative;
    margin-left: 10.2vw;
    padding-bottom: 1.875rem;
}

.projects__close {
    position: relative;
    float: right;
    margin-right: 10.2vw;
    padding-top: 1.875rem;
}

.projects__section > h1 {
    text-align: center;
}

.projects__tabs {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Ygro Mid;
    font-size: 0.75rem;
    margin-top: 1.875rem;
}

.tab__active {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 0.125rem;
    border-bottom: 0.125rem solid;
    -o-border-image: linear-gradient(45deg, #6B5CC1, #4631C1) 1;
       border-image: linear-gradient(45deg, #6B5CC1, #4631C1) 1;
}

.project__banner {
    position: relative;
    height: 28rem;
    width: 17.125rem;
    min-width: 17.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem;

    background: #10121D;
    border-radius: 1rem;
}

.projects__pages {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.project__icon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 14.5625rem;

    background: #141624;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.project__icon > img {
    position: relative;
    width: 6.25rem;
    height: 6.25rem;
    margin: 4.1875rem 5.4375rem 4.125rem 5.4375rem;

    opacity: 0.8;
}

.project__info {
    position: relative;
    top: 7.5rem;
    height: 13.4375rem;
    padding: 1rem 1rem 1.5rem 1rem;
}

.madewithtags > button {
    position: relative;
    height: 1.4375rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.125rem 0.625rem;
    margin: 0 0.5rem 1rem 0;

    font-family: Ygro Book;
    font-size: 0.75rem;

    background: #4631C1;
    border-radius: 0.875rem;

    color: #f5f5f5;
    opacity: 0.8;
}

.project__text > h1 {
    font-family: Ygro Mid;
    font-size: 1.125rem;
    margin-bottom: 0.3125rem;
}

.project__text > p {
    font-family: Ygro Book;
    font-size: 0.875rem;
    margin-bottom: 1.875rem;
}

.github {
    margin-left: 2.3125rem;
    width: 10.5rem;
    height: 2.625rem;
    background: #181A2B;
    border-radius: 0.5rem;

    transition: all 1s ease-in-out;
}

.github > h4 {
    float: left;
    padding: 0.6875rem 0 0.75rem 1rem;

    font-family: Ygro Book;
    font-weight: 100;
    font-size: 0.9375rem;

    color: #f5f5f6;
    opacity: 0.5;
}

.github > img {
    position: relative;
    top: 0.8125rem;
}

.github:hover {
    transform: translateY(-0.3125rem);
    box-shadow: -0.1875rem 0.3125rem 0.9375rem 0.0125rem rgba(27, 19, 76, 0.4);

}

/* Footer */

footer {
    position: relative;
    height: 12.5rem;
    width: 100%;

    margin-top: 6.25rem;

    background: linear-gradient(269.4deg, #4631C1 -13.43%, #10121D 119.65%);
}

.footer__logo {
    position: relative;
    top: 3.875rem;
    width: 12.5rem;
    margin-left: 10vw;

    font-family: Ygro Bold;
    font-size: 1.875rem;
    line-height: 1.625rem;
}

.footer__button {
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 2.625rem;
    padding: 0.6875rem 0.75rem;
    float: right;
    margin: 0 0 0.8125rem 1rem;

    background-color: #4631C1;
}

.footer__info {
    float: right;
    margin-right: 9vw;
}

.footer__email {
    font-family: Ygro Book;
    font-weight: 600;
    font-size: 1.375rem;
}

.copyright {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 1.875rem;

    font-family: Ygro Book;
    font-weight: 300;
    font-size: 0.875rem;
    
    opacity: 0.5;
}

/* TypeWriter Effect */

.typed__text {
    font-family: Ygro Bold;

    background: linear-gradient(45deg, #6B5CC1,#4631C1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.typewriter__cursor {
    display: inline-block;
    width: 2px;
    margin-left: 0px;
    background-color: #ccc;
    -webkit-animation: blink 1s infinite;
            animation: blink 1s infinite;
}

.typewriter__cursor.typing {
    -webkit-animation: none;
            animation: none;
}

/* TypeWriter Effect - Cursor Effect */

@-webkit-keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}

/* Click Ripple Effect */

.ripple {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    -webkit-animation: ripple 1s linear infinite;
            animation: ripple 1s linear infinite;
}

@-webkit-keyframes ripple {
    0% {
        width: 0rem;
        height: 0rem;
        opacity: 0.5;
    }
    100% {
        width: 25rem;
        height: 25rem;
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        width: 0rem;
        height: 0rem;
        opacity: 0.5;
    }
    100% {
        width: 25rem;
        height: 25rem;
        opacity: 0;
    }
}

/* Custom Scroll Bar */

/* Total Width */
body::-webkit-scrollbar {
    width: 0.75rem;
}
/* background of the scrollbar apart from button or resizer */
body::-webkit-scrollbar-track {
    background-color: #090A11;
}
/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #4631C1,#6B5CC1);
    border-radius: 0.75rem;
    border: 0.25rem solid #090A11;
}
/* Set top and bottom buttons */
body::-webkit-scrollbar-button {
    display: none;
}


/* Tablet Screen */ 
@media screen and (max-width: 64rem){

}

/* Mobile Screen */ 
@media screen and (max-width: 48rem){

}