@font-face {
    font-family: Ygro Book;
    src: url(/fonts/YgroSansBeta-Book.ttf);
}

@font-face {
    font-family: Ygro Mid;
    src: url(/fonts/YgroSansBeta-Medium.ttf);
}

@font-face {
    font-family: Ygro Bold;
    src: url(/fonts/YgroSansBetaBold.ttf);
}

/* Default Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

html, body {
    background-color: #090A11;
    color: #fff;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
}

a:link, a:visited, a:focus {
    color: #f5f5f5;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    position: absolute;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #090A11;
    overflow-x: hidden;
}

/* Nav bar Styling */

.parent__header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    
    background-image: linear-gradient(to bottom, rgba(9,10,17,1), rgba(9,10,17,0.5));
    z-index: 5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
    z-index: 5;
}

.logo {
    position: relative;
    width: 118px;
    height: 30px;

    font-family: Ygro Bold;
    font-size: 16px;
    line-height: 15px;

    color: #f5f5f5;
    cursor: pointer;
}

.nav__links li {
    display: inline-block;
    padding: 0 35px;
}

.nav__item {
    font-family: Ygro Mid;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    opacity: 0.3;
    transition: all 0.3s ease 0s;
}

.nav__item:hover {
    opacity: 1;
}

.active {
    opacity: 0.8;
}

.nav__button {
    position: relative;
    top: 0;
    padding: 9px 25px;
    width: 148px;
    height: 40px;

    font-family: Ygro Mid;
    font-size: 16px;
    color: #f5f5f5;

    border-radius: 38px;
    background: linear-gradient(45deg, #4631C1,#6B5CC1);
    overflow: hidden;
}

/* Start - Contact Form */
.contactme {
    position: absolute;
    font-family: Ygro Mid;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: 6;

    visibility: hidden;
}

.contact__form {
    position: relative;
    width: 90%;
    height: 100vh;
    margin-left: 10vw;
    margin-top: 10vh;
}

.contact__form > img {
    position: absolute;
    width: 80vw;
    height: 80vh;

    border-radius: 2em;
}

.form__title {
    position: absolute;
    padding: 30px 20px;
    margin-top: 30px;
    width: 80vw;
    height: 40px;
}

.form__title > button {
    position: absolute;
    background-color: transparent;
    top: 35px;
    left: 78%;
    height: fit-content;
    width: fit-content;
}

.form__title > button > img {
    width: 50px;
}

.form__title > h1 {
    font-size: 18px;
}

.form__title > p {
    font-family: Ygro Book;
    font-size: 14px;
}

.contact__form > form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    width: 80vw;
    top: 12vh;

}

.form__group {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}

.form__group input,
.form__group textarea {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 3px;
    color: #f5f5f5;
}

.form__group textarea {
    resize: none;
}

.contact__form > form > button {
    margin-top: 10px;
    height: 30px;
    border-radius: 3px;
    border: none;
    background-color: #141624;
    color: #f5f5f6;
    font-family: Ygro Bold;
    font-size: 16px;
}

/* End - Contact Form */

/* HeroBanner */

.herobanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    padding: 70px 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;

    z-index: 1;
    overflow: hidden;
}

.room {
    padding: 20px 0;
}

.room > img {
    width: 960px;
}

.herobanner__text {
    position: relative;
    left: 10%;
    width: 500px;
    min-width: 500px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    color: #f5f5f5;
}

.herobanner__text > h2 {
    font-family: Ygro Bold;
    font-size: 50px;

    padding-bottom: 10px;
}

.herobanner__text > p {
    font-family: Ygro Book;
    font-size: 20px;
}

/* Experiance */

.experienceandskills {
    position: relative;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.experience__section {
    position: relative;
    padding-top: 120px;
    width: 100%;
    height: 800px;
}

.tag {
    font-family: Ygro Book;
    font-size: 14px;
    opacity: 0.4;
}

.category__title {
    font-family: Ygro Bold;
    font-size: 56px;
}

.experience__section > h1 {
    text-align: center;
    padding-bottom: 30px;
}

.experience__open {
    margin-left: 10.2vw;
    padding-bottom: 80px;
}

.experience__close {
    float: right;
    margin-right: 10.2vw;
    padding-top: 80px;
}

.timeline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin: 70px 0;
}

.experience__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 210px;
    min-width: 210px;
    height: 150px;

    margin: 0 2vw;


    background: #10121D;
    border-radius: 16px;
    opacity: 0.5;

    transition: all 1s 0.1s ease-in-out;
}

.experience__info > img {
    position: relative;
    left: 16px;
    top: 16px;
    width: 25px;
}

.experience__info > h4 {
    position: relative;
    left: 114px;

    font-family: Ygro Book;
    font-size: 12px;

    opacity: 0.5;
}

.experience__info > h1 {
    position: relative;
    top: 20px;
    left: 16px;

    font-family: Ygro Mid;
    font-size: 18px;
    line-height: 22px;
}

.experience__info > h2 {
    position: relative;
    top: 30px;
    left: 16px;

    font-family: Ygro Book;
    font-weight: 300;
    font-size: 18px;

    opacity: 0.5;
}

.timeline__pages {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 272px;
    display: none;
}

.arrow {
    width: 32px;
    height: 32px;
    text-align: center;
    margin: 5px;

    background: #10121D;
    border-radius: 8px;
    cursor: pointer;
}

.arrow > img {
    padding: 9px 12px;
    opacity: 0.7;
}

.exp__active {
    opacity: 1;
    transform: scale(1.3);
}

/* Skills */

.skills {
    position: relative;
    top: -48px;
    overflow-x: hidden;
}

.skills__open {
    margin-left: 10.2vw;
    padding-bottom: 80px;
}

.skills__close {
    float: right;
    padding-top: 80px;
    margin-right: 10.2vw;
}

.skills > h1 {
    text-align: center;
}

.skill__list {
    margin: 60px 0;
}

.toplist {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.toplist h3 {
    position: relative;
    left: 20px;
    padding: 30px 70px;

    font-family: Ygro Book;
    font-size: 22px;
}

.bottomlist {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.bottomlist h3 {
    position: relative;
    padding: 30px 70px;

    font-family: Ygro Book;
    font-size: 22px;
}

/* Projects */

.projects__section {
    position: relative;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow-x: hidden;
    padding-top: 150px;
}

.project__selection {
    display: flex;
    justify-content: center;
}

.projects__open {
    position: relative;
    margin-left: 10.2vw;
    padding-bottom: 80px;
}

.projects__close {
    position: relative;
    float: right;
    margin-right: 10.2vw;
    padding-top: 80px;
}

.projects__section > h1 {
    text-align: center;
}

.projects__tabs {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Ygro Mid;
    font-size: 12px;
    margin-top: 30px;
}

.tab__active {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 2px;
    border-bottom: 2px solid;
    -o-border-image: linear-gradient(45deg, #6B5CC1, #4631C1) 1;
       border-image: linear-gradient(45deg, #6B5CC1, #4631C1) 1;
}

.project__banner {
    position: relative;
    height: 448px;
    width: 274px;
    min-width: 274px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 32px;

    background: #10121D;
    border-radius: 16px;
}

.projects__pages {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.project__icon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 233px;

    background: #141624;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.project__icon > img {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 67px 87px 66px 87px;

    opacity: 0.8;
}

.project__info {
    position: relative;
    top: 120px;
    height: 215px;
    padding: 16px 16px 24px 16px;
}

.madewithtags > button {
    position: relative;
    height: 23px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 2px 10px;
    margin: 0 8px 16px 0;

    font-family: Ygro Book;
    font-size: 12px;

    background: #4631C1;
    border-radius: 14px;

    color: #f5f5f5;
    opacity: 0.8;
}

.project__text > h1 {
    font-family: Ygro Mid;
    font-size: 18px;
    margin-bottom: 5px;
}

.project__text > p {
    font-family: Ygro Book;
    font-size: 14px;
    margin-bottom: 30px;
}

.github {
    margin-left: 37px;
    width: 168px;
    height: 42px;
    background: #181A2B;
    border-radius: 8px;

    transition: all 1s ease-in-out;
}

.github > h4 {
    float: left;
    padding: 11px 0 12px 16px;

    font-family: Ygro Book;
    font-weight: 100;
    font-size: 15px;

    color: #f5f5f6;
    opacity: 0.5;
}

.github > img {
    position: relative;
    top: 13px;
}

.github:hover {
    transform: translateY(-5px);
    box-shadow: -3px 5px 15px .2px rgba(27, 19, 76, 0.4);

}

/* Footer */

footer {
    position: relative;
    height: 200px;
    width: 100%;

    margin-top: 100px;

    background: linear-gradient(269.4deg, #4631C1 -13.43%, #10121D 119.65%);
}

.footer__logo {
    position: relative;
    top: 62px;
    width: 200px;
    margin-left: 10vw;

    font-family: Ygro Bold;
    font-size: 30px;
    line-height: 26px;
}

.footer__button {
    width: 42px;
    height: 42px;
    border-radius: 42px;
    padding: 11px 12px;
    float: right;
    margin: 0 0 13px 16px;

    background-color: #4631C1;
}

.footer__info {
    float: right;
    margin-right: 9vw;
}

.footer__email {
    font-family: Ygro Book;
    font-weight: 600;
    font-size: 22px;
}

.copyright {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 30px;

    font-family: Ygro Book;
    font-weight: 300;
    font-size: 14px;
    
    opacity: 0.5;
}

/* TypeWriter Effect */

.typed__text {
    font-family: Ygro Bold;

    background: linear-gradient(45deg, #6B5CC1,#4631C1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.typewriter__cursor {
    display: inline-block;
    width: 2px;
    margin-left: 0px;
    background-color: #ccc;
    -webkit-animation: blink 1s infinite;
            animation: blink 1s infinite;
}

.typewriter__cursor.typing {
    -webkit-animation: none;
            animation: none;
}

/* TypeWriter Effect - Cursor Effect */

@-webkit-keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}

/* Click Ripple Effect */

.ripple {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    -webkit-animation: ripple 1s linear infinite;
            animation: ripple 1s linear infinite;
}

@-webkit-keyframes ripple {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100% {
        width: 400px;
        height: 400px;
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100% {
        width: 400px;
        height: 400px;
        opacity: 0;
    }
}

/* Custom Scroll Bar */

/* Total Width */
body::-webkit-scrollbar {
    width: 12px;
}
/* background of the scrollbar apart from button or resizer */
body::-webkit-scrollbar-track {
    background-color: #090A11;
}
/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #4631C1,#6B5CC1);
    border-radius: 12px;
    border: 4px solid #090A11;
}
/* Set top and bottom buttons */
body::-webkit-scrollbar-button {
    display: none;
}


/* Tablet Screen */ 
@media screen and (max-width: 1024px){

    .herobanner {
        position: relative;
        top: 50px;
    }

    .herobanner__text {
        width: 450px;
        min-width: 400px;
    }

    .herobanner__text > h2 {
        font-size: 45px;
        text-align: justify;
    }

    .room img {
        position: relative;
        left: 50px;
        width: 700px;
    }

    .copyright {
        top: 40px;
    }
}

/* Mobile Screen */ 
@media screen and (max-width: 768px){
    nav {
        display: none;
    }

    .header {
        height: 100px;
    }

    .nav__button {
        font-size: 14px;
        width: 130px;
        height: auto;
    }

    .herobanner {
        margin-top: 50px;
        display: block;
    }

    .herobanner__text > h2 {
        font-size: 35px;
    }

    .herobanner__text > p {
        font-size: 15px;
        width: 300px;
    }

    .room {
        position: relative;
        float: left;
        top: 70px;
    }

    .room > img {
        position: relative;
        width: 600px;
        left: -70px;
    }

    .skills {
        margin-top: 150px;
    }

    .toplist h3 {
        padding: 0 10px;
        font-size: 18px;
        left: 0;
    }

    .bottomlist h3 {
        padding: 0 10px;
        font-size: 18px;
        left: 0;
    }

    .footer__logo {
        font-size: 20px;
    }

    .footer__info > a {
        position: relative;
        top: 10px;
    }

    .footer__email {
        display: none;
    }

    .copyright {
        top: 70px;
    }
}